.formContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .formContainer label {
    margin-bottom: 10px;
  }
  
  .formContainer input {
    padding: 5px;
    margin-left: 5px;
  }
  
  .formContainer button {
    padding: 7px;
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }